<section id="home" class="col hero-slide hero-slide__home">
    <div class="container h-full">
        <div class="row justify-content-center align-content-center align-items-center h-100">
            <div class="col-10 col-md-5 hero-slide__home--carousel">
                <div class="carousel-container">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for item in include.images %}
                                <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}" data-interval="5000">
                                    <div class="bg-img" style="background-image: url('{{ item.slide_image }}');"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-auto pl-md-5 text-center">
                <h1 class="mb-2">{{ include.header }}</h1>
                <p class="mb-0 h4"><em>{{ include.subheader1 }}</em></p>
                <p class="h4">{{ include.subheader2 }}</p>
            </div>
        </div>
    </div>
</section>
