---
layout: default
title: Home
permalink: /
---
<div id="mainCarousel" class="container carousel" data-interval="false" data-hover="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            {% include front_template.html
                images=page.home_section.home_images
                header=page.home_section.hero_header
                subheader1=page.home_section.hero_subheader1
                subheader2=page.home_section.hero_subheader2 %}
        </div>
        <div class="carousel-item">
            {{ page | jsonify | escape }}
            {% include about_template.html
                heading=page.about_section.heading
                image=page.about_section.image
                lead_in=page.about_section.lead_in
                content=page.about_section.content
                file=page.about_section.open_file %}
        </div>
        <div class="carousel-item">
            {% include work_template.html
                head_header=page.work_section.header
                head_copy=page.work_section.head_copy
                head_video=page.work_section.head_video
                sections=page.work_section.sections %}
        </div>
        <div class="carousel-item">
            {% include media_template.html
                heading=page.grid_section.heading
                copy=page.grid_section.copy
                images_of_me=page.grid_section.images_of_me
                images_by_me=page.grid_section.images_by_me %}
        </div>
        <div class="carousel-item">
            {% include contact_template.html
                heading=page.contact_section.heading
                copy=page.contact_section.copy
                image=page.contact_section.side_image %}
        </div>
    </div>
</div>
